<nav class="flex justify-center">
    <ul class="flex items-center gap-1">

        @foreach (var link in links)
        {
            <li @onclick="@(() => InternalSelectedPage(link))"
                class="cursor-pointer">

                <span class="
                    px-3 py-1 rounded-md text-sm border
                    @(link.Enable ? "bg-gray-900 text-white border-gray-900" : "bg-white text-white-700 border-white-300 hover:bg-gray-100")
                    @(link.Enable ? "" : "opacity-50 cursor-not-allowed")
                    ">
                    @link.Text
                </span>

            </li>
        }

    </ul>
</nav>